{% extends "layout.html" %}

{% block title %}
    Flack Chat
{% endblock %}

{% block content %}
<div class="abs-center">
  <div class="container form">
    <h3 style= color:white>Create a new channel or join an existent one!</h3>
    <form action="/create" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="channel" id="channel" autofocus>
        </div>
        <button class="btn btn-info btn-lg" type="submit">Create</button>
    </form>

  </div>

</div>


  <script>

        if (localStorage.getItem('last_channel')) {
            // Redirect to last channel
            let channel = localStorage.getItem('last_channel');
            window.location.replace('/channels/' + channel);
        }

    </script>
{% endblock %}
